# Operating System files #
##########################
.DS_Store
ehthumbs.db
Icon?
Thumbs.db

# IDE and editor files #
#########################
.vscode/
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
*.settings/
*.suo
*.sln
*.swp
*.o